@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: outfit;
}

.pcolor{
    color: #e0e0e0;
    font-weight: 300;
}